configuration {
    modi: "drun,window,run";
    show-icons: true;
    display-drun: "Apps";
    display-window: "Windows";
    display-run: "Run";
    drun-display-format: "{icon} {name}";
    font: "Source Sans Pro 11.5";
}

@theme "~/.config/rofi/themes/gruvbox.rasi"
