configuration {
    modi: "drun,window,run";
    show-icons: true;
    display-drun: "󰮯 Apps";
    display-window: "󰊠 Windows";
    display-run: "󰊠 Run";
    drun-display-format: "{icon} {name}";
    font: "CaskaydiaCove NF 11";
}

@theme "~/.config/rofi/themes/arcade.rasi"
